.hero-frontpage,
.hero-flex-small,
.hero-project-page {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.hero-flex-small {
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.hero-project-page {
  padding: 0%;
  align-items: center;
}
