.hero-frontpage,
.hero-flex-small,
.hero-project-page {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.hero-flex-small {
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.hero-project-page {
  padding: 0%;
  align-items: center;
}

.about-section {
  margin: 0% 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers child elements horizontally */
  text-align: center;
}
