a,
h1 {
  font-family: "Bodoni 72", Helvetica, serif;
}

p,
.card-link {
  font-family: "Garamond", Arial, serif;
}

.header-links,
.footer-links {
  color: black;
  font-size: large;
  text-decoration: none;
}

.footer-links {
  color: white;
  font-size: 38px;
}

.card-link {
  text-decoration: none;
  color: black;
  font-size: large;
}

.github-icon {
  font-size: 36px;
}

.h1-portfolio-page {
  text-align: center;
}

.copyright-text {
  color: white;
}
