.header-container {
  display: flex;
}

.hero-frontpage,
.hero-flex-small {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.hero-flex-small {
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
